@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100&family=Sora:wght@300;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    background-image: url('/Background.webp');
    background-size: cover;
}

h1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 1em;
    height: 15vh;
}

img {
    max-height: 12.5vh;
    max-width: 100%;
    /*    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/

    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.47);;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#box {
    width: 70%;
    padding: 1em;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.47);
}

p {
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    padding-top: 16px;
}

#entry {
    font-size: 1.5rem;
    font-weight: lighter;
}

#right {
    text-align: right;
}

#result {
    font-size: 3.5rem;
    letter-spacing: -0.176rem;
    line-height: 0.85em;
} 

#currency {
    font-size: .5em;
    font-weight: lighter;
    padding-left: 5px;
}

#rate {
    font-weight: lighter;
    font-size: .75rem;
    padding-top: 16px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
}

label {
    padding: 1em 1em 5px 5px;
    font-family: 'Sora', sans-serif;
    font-size: 0.9rem;
}

select, input {
    height: 3em;
    border-radius: 10px;
    border: none;
    padding: 10px;
    text-align: center;
}

option {
    text-align: center;
}

#submit {
    margin: 1.5em auto 20px auto;
    padding: 1em;
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Sora', sans-serif;
}

#responsive {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.flex {
    display: flex;
    width: 100%;
    justify-content: center;
}

.flex > select {
    width: 100%;
}

@media screen and (max-width: 768px) {
    #responsive {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        gap: 0;
        margin-top: 0;
    }

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 

    #result {
        font-size: 2rem;
    } 

    h1 {
        align-items: center;
    }

    img {
        max-width: 70%;
    }
    
}





  

